# local files
node_modules
.next
tsconfig.tsbuildinfo
npm-debug.log*
yarn-error.log*

# docs
Document
UML
README.md

# env-files
.env
.env.local
.env.development
.env.example
.git
.gitignore

# docker setting files
Dockerfile
.dockerignore
nginx.conf
docker-compose.yml