# Next.js
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=

# Naver Map
NEXT_PUBLIC_NAVER_MAP_CLIENT_ID=
NEXT_PUBLIC_NAVER_MAP_API_URL=https://openapi.map.naver.com/openapi/v3/maps.js

# Gemini
GEMINI_API_KEY=